# 依存関係
**/node_modules/

# ビルド成果物
# backend
/backend/dist/
/backend/build/

# frontend
/frontend/.next/
/frontend/out/
/frontend/build/

# 環境変数
.env
.env.*
*.env

# ログ・テスト・キャッシュ
**/coverage/
*.log
*-debug.log*
*-error.log*
.nyc_output
.temp
.tmp
*.tsbuildinfo
logs
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# エディタ・OS設定
.vscode/
.idea/
.DS_Store
Thumbs.db
*.pem
.vercel